<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Hi from Bucket </title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>{{sender}} has shared this file {{filename}} with you , Please Login at <a href="http://ec2-3-83-241-86.compute-1.amazonaws.com:30308/"></a> to view the File</p>
</body>
</html>
